<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>CheeseAndMouse</title>

<!--  <script src="https://telegram.org/js/telegram-web-app.js"></script>-->
<!--  {% csrf_token %}-->
<!--  <script src="{% static 'js/authentication_script.js' %}"></script>-->

    <!-- Подключение CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <div class="game-container">

        <!-- Верхняя часть -->
        {% include 'header.html' %}

        <!-- Центральная зона -->
        {% block content %}
        {% endblock %}

        <!-- Нижняя часть -->
        {% include 'footer.html' %}
    </div>
</body>

    <!-- Подключение JS -->
    {% block js %}
    {% endblock %}


</html>