{% extends 'main.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clicker</title>
</head>
<body>
    <h1>Clicker Game</h1>
    <p>Количество кликов: <span id="count">{{ count }}</span></p>
    <p>Уровень множителя: <span id="multiplier">{{ multiplier }}</span></p>


    <button id="clickButton">
        <img src="{% static 'media/mouse.png' %}" height="400" weigth="600">
    </button>


    <button id="multiplier_button">
        Повысить уровень
    </button>

    <button id="startAutoClick">
        Запустить автоклик
    </button>


    <script src="{% static 'js/autoclick.js' %}"></script>
    <script src="{% static 'js/clicker.js' %}"></script>
    <script src="{% static 'js/multiplier.js' %}"></script>
</body>
</html>

{% endblock %}