{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="mouse-area">
            <div class="mouse">
                {% csrf_token %}
                <button id="tap-btn" class="button-mouse">
                    <img src="{% static 'media/mouse.png' %}" alt="Mouse Character">
                </button>
            </div>
        </div>
{% endblock %}


{% block js %}
    {% csrf_token %}
    <script src="{% static 'js/load_script.js' %}"></script>
    <script src="{% static 'js/main_script.js' %}"></script>
{% endblock %}
