{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <!-- Профиль -->

    <!-- Заголовок задач -->
    <h1 class="task-title">Задания</h1>
    <p class="task-subtitle">Получите больше монет</p>

    <!-- Список задач -->
{% csrf_token %}
<div class="task-list">
    {% for task in tasks %}
        <div class="task-item" onclick="addPoints({{ task.point }})">
            <img src="{{ task.picture.url }}" class="task-icon" alt="Default">
            <span class="task-text">{{ task.condition|escape }}</span>
            <span class="task-points">{{ task.point }}</span>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/task_script.js' %}"></script>
{% endblock %}
